<!DOCTYPE html>
<html lang = "en">

<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <meta http-equiv="X-UA-Compatible" content = "ie=edge">
    <title>Mission to Mars</title>
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class = "container-fluid">
        <div class = "jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href = "/scrape" role = "button">Scrape new data</a></p>
        </div>
        <h2>Latest Mars News</h2>

        <h2>Mars Hemispheres</h2>
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-4">
              <div class="card">
                <img src="https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg"" class="card-img-top" alt="valles_marineris_enhanced">
                <div class="card-body">
                  <h5 class="card-title">Valles Marineris Enhanced</h5>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card">
                <img src="https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg" class="card-img-top" alt="cerberus_enhanced">
                <div class="card-body">
                  <h5 class="card-title">Cerberus Enhanced</h5>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card">
                <img src="https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg" class="card-img-top" alt="schiaparelli_enhanced">
                <div class="card-body">
                  <h5 class="card-title">Schiaparelli_Enhanced</h5>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card">
                <img src="https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg" class="card-img-top" alt="syrtis_major_enhanced">
                <div class="card-body">
                  <h5 class="card-title">Syrtis Major Enhanced</h5>
                </div>
              </div>
            </div>
          </div>
                
            <!-- <img class = "hemisphere" src = "https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg">
            <img class = "hemisphere" src = "https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg">
            <img class = "hemisphere" src = "https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg">
            <img class = "hemisphere" src = "https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg"> -->
            

        <h3>Featured Mars Image</h3>
            <ul>
                <li>
                <a href = "{{ featured_image_url }}"></a>
                </li>
            </ul>

        <h4 class = "text-left">Mars Facts</h4>
        <table border="2" class="dataframe">
            <thead>
              <tr style="text-align: right;">
                <th></th>
                <th></th>
                <th>Mars</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th></th>
                <td>Equatorial Diameter:</td>
                <td>6,792 km</td>
              </tr>
              <tr>
                <th></th>
                <td>Polar Diameter:</td>
                <td>6,752 km</td>
              </tr>
              <tr>
                <th></th>
                <td>Mass:</td>
                <td>6.39 × 10^23 kg (0.11 Earths)</td>
              </tr>
              <tr>
                <th></th>
                <td>Moons:</td>
                <td>2 (Phobos &amp; Deimos)</td>
              </tr>
              <tr>
                <th></th>
                <td>Orbit Distance:</td>
                <td>227,943,824 km (1.38 AU)</td>
              </tr>
              <tr>
                <th></th>
                <td>Orbit Period:</td>
                <td>687 days (1.9 years)</td>
              </tr>
              <tr>
                <th></th>
                <td>Surface Temperature:</td>
                <td>-87 to -5 °C</td>
              </tr>
              <tr>
                <th></th>
                <td>First Record:</td>
                <td>2nd millennium BC</td>
              </tr>
              <tr>
                <th></th>
                <td>Recorded By:</td>
                <td>Egyptian astronomers</td>
              </tr>
            </tbody>
          </table>
    </div>
</body>
</html>